{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="{% static 'css/registr.css' %}">
</head>
<body>

  <div class="int">
    <h1>Вход</h1>
      <form action="{% url 'accounts:login' %}" method="post">
      {% csrf_token %}
        <input type="text" name="username" placeholder="Логин" required>
        <input type="text" name="email" placeholder="Email" required>
        <button type="submit">Войти</button>
    </form>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <p>Нет аккаунта? <a href="{% url 'accounts:register' %}">Зарегистрироваться</a></p>
  </div>

</body>
</html>