{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    
</head>
<body>
        <h3>Навигация</h3>
        <ul>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Про нас</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Конфиденциальность</a></li>

        </ul>
    </aside>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>

<!--git status
git add .
git commit -m "Добавил index.html, исправил urls и views"
git push